<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>

<body class="container" style="margin-top: 50px;">
    <div class="card">
        <div class="card-header">
            Edit course
        </div>
        <div class="card-body">
            <form action="/update" method="post">
                <input type='hidden' value="<%=student_grades.id%>" name="id">
                <div class="form-group">
                    <label>Course name:</label>
                    <input type="text" class="form-control" name="course_name" value="<%=student_grades.course_name%>" autocomplete="off" placeholder="Enter Course Name" required>
                </div>
                <div class="form-group">
                    <label>Year:</label>
                    <input type="text" class="form-control" name="year" value="<%=student_grades.year%>" autocomplete="off" placeholder="Enter Year" required>
                </div>
                <div class="form-group">
                    <label>Semester:</label>
                    <input type="text" class="form-control" name="semester" value="<%=student_grades.semester%>" autocomplete="off" placeholder="Enter Semester" required>
                </div>
                <div class="form-group">
                    <label>Grade:</label>
                    <input type="text" class="form-control" name="grade" value="<%=student_grades.grade%>" autocomplete="off" placeholder="Enter Your Grade">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Update" />

                </div>
            </form>
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                </li>
                <li class="nav-pill ml-auto">
                    <button class="nav-link active" onclick=history.back()>Go Back</button>
                </li>
            </ul>

        </div>
    </div>

</body>

</html>